.clockBox{
    text-align: center;
}

#clock{
    display: inline-block;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
}

#clock p{
    font-size: 50px;
    text-align: center;
}

#weather{
    vertical-align: middle;
}

#userLocation{
    display: block;
}