.submitButton, .removeButton{
    display: inline-block;
    margin-left: 10px;
    transform: scale(var(--ggs, 1.5));
    border-color: white;
    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;
}

.removeButton{
    transform: scale(var(--ggs, 1));
}

.submitButton:after{
    border-color: white;
    transition: border-color 0.3s;
}

.submitButton:hover{
    border-color: lightgreen;
}

.submitButton:hover:after{
    border-color: lightgreen;
}

.removeButton:before, .removeButton:after{
    background-color: white;
    transition: all 0.3s;
}

.removeButton:hover{
    border-color: palevioletred;
}

.removeButton:hover:after, .removeButton:hover:before{
    background-color: palevioletred;
}

/*
    nameForm Start
*/
#nameForm input{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-bottom: 4px solid white;
    font-size: 30px;
    color: white;
    transition: width 0.3s;
    text-align: center;
    display: inline-block;
}

#nameForm input:focus{
    width: 300px;
}
/*
    nameForm End
*/
/*
    todoForm Start
*/
#todoForm input{
    width: 130px;
    height: 30px;
    background-color: transparent;
    border-bottom: 3px solid white;
    transition: width 0.3s;
    color: white;
    font-size: 20px;
    vertical-align: bottom;
}

#todoForm input:focus{
    width: 200px;
}

#todoForm input::placeholder{
    color: lightgray;
}

#todoList{
    text-align: center;
}

#todoList li{
    margin: 15px 0;
}

#todoList span{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.todoText{
    width: 180px;
    display: inline-block;
    vertical-align: bottom;
}
/* 
    todoForm End
*/